crop_id	crop_family	crop_common_name	genus	species	subvariety	additional_description	synonyms	native_status	light_intensity	photoperiod	response_comment	woody_flag	growth_habit	maximum_annual_precipitation_mm	minimum_annual_precipitation_mm	absolute_maximum_temperature_celsius	absolute_minimum_temperature_celsius	optimum_maximum_temperature_celsius	optimum_minimum_temperature_celsius	minimum_growing_days	maximum_growing_days	soil_type_description	soil_texture_requirement_code	soil_drainage_requirement_description	soil_drainage_requirement_code	maximum_soil_ph	minimum_soil_ph	critical_minimum_winter_temperature_celsius	weed_flag
"HORVUL27"	"Poaceae"	"Barley"	"Hordeum"	"vulgare"	"subsp. vulgare"	""	"H. distichon; H. hexastichon; H. irregulare; H. sativum"	""	"Very bright"	"Long day and day neutral"	"Spring annual. Most hardy cereal crop under extreme alkali, frost, and drough conditions."	""	"Annual"	"1000"	"500"	"40"	"2"	"20"	"15"	"90"	"120"	"Loams"	"M"	"Well"	"W"	"8"	"6"	"-4"	""
"BRANAP61"	"Brassicacea"	"Canola"	"Brassica"	"napus"	"var. napus"	"(spring seeded)"	"B. campestris napus; B. napus annua; B. napus napus"	""	"Bright to clea"	""	"Sunny days and cool nights favorable. Planted April-June. Low erucic acid oil and low glucosinolates meal. High temperature during flowering period is detrimental. Does not endure ponding. Salt tolerant."	""	"Annual"	"1000"	"500"	"41"	"5"	"25"	"10"	"80"	"95"	"Medium to light textures"	"MMCVC"	"Well"	"W"	"8"	"6"	"-8"	""
"PISSAT43"	"Fabaceae"	"Pea"	"Pisum"	"sativum"	"subsp. sativum v"	""	"P. arvense"	""	""	""	"Cool growing season necessary. High temps more injurious than frosts."	""	"Annual"	"2500"	"350"	"30"	"4"	"24"	"10"	"55"	"90"	"Clay loam"	"M"	"Well"	"W"	"7"	"6"	""	""
"ZEAMAY64"	"Poaceae"	"Corn"	"Zea"	"mays"	"subsp. mays"	""	""	""	"Bright"	"Short day and day neutral"	"Many varieties available to suit any climatic condition. Fair salt tolerance."	""	"Annual"	"1200"	"700"	"47"	"10"	"33"	"18"	"88"	"140"	"Medium textured organic soils"	"M"	"Well"	"W"	"8"	"6"	""	""
"GLYMAX02"	"Fabaceae"	"Soybean"	"Glycine"	"max"	""	""	"Dolichos soja; G. gracilis; G. hispida; Phaseolus max"	""	"Bright"	"Short day"	"Doesn't survive excessive heat. Best on fertile, well-drained soils. Climate same as corn."	""	"Annual"	"1500"	"600"	"38"	"10"	"33"	"20"	"75"	"180"	"Fertile loams"	"M"	"Well"	"W"	"7"	"6"	"0"	""
"TRIAES81"	"Poaceae"	"Wheat - Hard Red Spring"	"Triticum"	"aestivum"	"subsp. aestivum"	"(CWRS)"	"T. sativum; T. vulgare"	""	"Very bright"	"Long day and day neutral"	"Grown in drier areas of upper Midwest. Require moderate summer temperatures. Adapted to northern half of Great Plains in US. Disease in hard winter wheats limits use to 30"" rainfall line and west."	""	"Annual"	"760"	"380"	"27"	"5"	"23"	"15"	"90"	"120"	"Silt and clay loams"	"M"	"Well"	"W"	"8"	"6"	"-9"	""
